body{
  background-color:black;
  font-family: Helvetica; 
  color: white;
  font-size:18px;
}

.container{
  position:relative;
  width: 80px;
  height:80px;
  border: 1px solid white;
  top:200px;
  margin: auto; 
  box-sizing: border-box; 
}

.pixel {
  content:"";
  width: 10px; 
  height: 10px;
  background-color:red;
  position: absolute;
}
#secondpixel{
  left:10px;
  background-color: white;
}